body {
    background-image: url("fotos/teste-padrão-abstrato-da-química-em-escuro-fundo-azul-com-fórmulas-químicas-e-estruturas-moleculars-ci-ncia-conceito-147385882.jpg");  
    scroll-snap-align: center !important;
    overflow-x:hidden !important;
    background-repeat: no-repeat;
    color: white !important;
}

.card {
    background-color: rgba(0, 0, 0, 0.534) !important;
    border: 1px solid white !important;
}

.col-sm-12 p {
    font-size: 1.5rem;
    font-weight: 600;
    color: red;
}

a{
    cursor: pointer!important;
}